<header class="pt-5"> 
    <div id="header-content" class="text-center">

        <div class="title-container mb-5">
            <div>
                <img src="assets/images/store-icon.png" class="box-shadow rounded">
            </div>
            <div class="title-container__title text-center">
                <h1>WTR - Weather Pro</h1>
                <h3>Forecast and History.</h3>
            </div>  
        </div> 

        <div class="download">                            <!--                =====download=====    -->
            <a href="#video" class=" btn-video box-shadow">
                Video
            </a>
            <a target="_blank" href="https://apps.apple.com/us/app/weather-pro-forecast-history/id1438432642" class=" box-shadow">
                iOS
            </a>
            <a target="_blank" href="https://play.google.com/store/apps/details?id=net.vplay.demos.apps.weatherapp&hl=en" class=" box-shadow">
                Android
            </a>
        </div>
       
        <div class="  pt-5 ">
            <div>
                <div class="i-phone ">
                    <img src="assets/images/black-iphone.png" alt="">
                    <img src="assets/images/app-1.png" class="i-phone__app big-phone-app" alt="">
                </div>
            </div> 
        </div>
                    
    </div>
</header>