<div class="container ">
    <hr>
    <article class="row">
        <div class="col-lg-6" >
             <div class="icons-list">    <!--                =====Icons list=====    -->
                <div class="icon-head">
                    <h3>Accurate forecast.</h3>
                    <p>Weekly and hourly for each day.</p>
                </div>
                <div class="rounded">
                    <div>
                        <img src="assets/images/calendar.png" alt="">
                    </div> 
                    <span>
                       <p>Forecast for the next 7 days on a single page.</p> 
                    </span>
                </div>

                <div class="rounded">
                    <div>
                        <img src="assets/images/earth.png" alt="">
                    </div> 
                    <span>
                       <p>Forecast for all your favorite locations.</p> 
                    </span>
                </div>

                <div class="rounded">
                    <div>
                        <img src="assets/images/watch.png" alt="">
                    </div> 
                    <span>
                       <p>Daily data including hourly rain amount, rain possibility and sunshine hours.</p> 
                    </span>
                </div>
            </div>
        </div>
         <div class="col-lg-6 text-center">         <!--                                      =====phones=====   -->
            <div class="i-phone" data-aos="zoom-in" data-aos-duration="1000">
                <img src="assets/images/black-iphone.png" alt="">
                <img src="assets/images/app-forecast.png" class="i-phone__app" alt="">
            </div>
            <div class="i-phone-white"  data-aos="fade-down-left" data-aos-duration="2000" data-aos-delay="400">
                <img src="assets/images/white-iphone.png" alt="">
                <img src="assets/images/app-forecast.png" class=" i-phone-white__app" alt="">
            </div>
        </div>
    </article>
    <hr>
    <article class="row row-reverse">                  
        
        <div class="col-lg-6 text-center">              <!--                                      =====phones=====   -->
            <div class="i-phone"  data-aos="zoom-in" data-aos-duration="1000" >
                <img src="assets/images/black-iphone.png" alt="" >
                <img src="assets/images/app-history.png" class="i-phone__app" alt="">
            </div>
            <div class="i-phone-white i-phone-white__left"  data-aos="fade-down-right" data-aos-duration="2000" data-aos-delay="400">
                <img src="assets/images/white-iphone.png" alt="">
                <img src="assets/images/app-history.png" class=" i-phone-white__app" alt="">
            </div>
        </div>

        <div class="col-lg-6">
            <div  class=" icons-list">                       <!--                =====Icons list=====    -->
                <div class="icon-head">
                    <h3>History Feature.</h3>
                    <p>Go back in time: </p>
                </div>
                
                <div class="rounded">
                    <div>
                        <img src="assets/images/caravan.png" alt="">
                    </div> 
                    <span>
                       <p>Check your holiday destionation.</p> 
                    </span>
                </div>

                <div  class="rounded">
                    <div>
                        <img src="assets/images/sun.png" alt="">
                    </div>
                    <span>
                        <p>Was the day of your birth a bright day?</p>
                    </span>
                </div>

                <div  class="rounded">
                    <div>
                        <img src="assets/images/therm.png" alt="">
                    </div>
                    <span>
                        <p>Was it warmer in the 80s?</p>
                    </span>
                </div>
            </div>
        </div>  
    </article>
    <hr >   
</div>
