<section>
    <h3 class="text-center p-4 mt-5 font-comforta">Features:</h3>
    <div class="row text-center p-5 d-flex justify-content-around overflow-hidden " >
            <div data-aos="fade-right"  data-aos-duration="1200" class="col-lg-5 features d-flex justify-content-between flex-column  box-shadow my-2">
                <div class="">
                    <img src="assets/images/ico-sun.png">
                </div>
                <div class="pt-3">
                    <p>Daily & hourly rain amount, rain possibility and sunshine hours.</p>
                </div>
            </div>
            <div data-aos="fade-left" data-aos-duration="1200" class="col-lg-5  features d-flex justify-content-between flex-column box-shadow my-2">
                <div class="">
                    <img src="assets/images/ico-rain.png">
                </div>
                <div class="pt-3">
                    <p>Best forecast overview of all your favorite locations.</p>
                </div>  
            </div>
            <div data-aos="flip-up" data-aos-duration="1200" class="col-lg-5 features d-flex justify-content-between flex-column box-shadow my-2">
                <div class="">
                    <img src="assets/images/ico-snow.png">
                </div>
                <div class="pt-3">
                    <p>All favorites, on a single page.</p>
                </div> 
            </div>
            <div data-aos="flip-up" data-aos-duration="1200" class="col-lg-5 features d-flex justify-content-between flex-column box-shadow my-2">
                <div class="">
                    <img src="assets/images/ico-thunder.png">
                </div>
                <div class="pt-3">
                    <p>Go back in time with the History Feature.</p>
                </div>   
            </div>
    </div>
</section>